# Copy to .env and fill values
SUPABASE_URL=https://pwkvwrnvbdkqvhikfgzp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_jd4VB3TGm-pernWdGl6u3A_zb9iOb9D
CORS_ORIGIN=http://localhost:8080
PORT=3000
NODE_ENV=development
